/* ====================================================================================================================================================
     Sobre mi
   ==================================================================================================================================================== */

/* About Section */

.about-section {
    background-color: var(--bg-secondary);
     padding: 1px 0 40px;
}

/* Estilos para las tarjetas about */

.animated-border-card {
  width: 290px;
  height: auto;
  min-height: 350px;
  background: var(--bg-secondary);
  position: relative;
  border-radius: 20px;
  padding: 2px;
  margin: 15px;
  overflow: hidden; 
}

/* Capa del borde animado */

.animated-border-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    #b4daff,
    #00aaff,
    #5d3fa5,
    #8b5cf6,
    #003366
  );
  z-index: 0;
  animation: borderRotate 8s linear infinite;
  transform-origin: center center;
}

/* Capa que cubre el centro */

.animated-border-card::after {
  content: '';
  position: absolute;
  inset: 5px; /* Grosor del borde */
  background: var(--bg-color);
  border-radius: 18px;
  z-index: 1;
}

/* Contenido de la tarjeta*/

.card-content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 20px;
  border-radius: 18px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-content li {
  color: var(--text-color);
}

/* Estilos del contenido de las cartas */

.card-heading {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
  color: var(--text-color);
}

.animated-border-card p {
  color: var(--text-light);
  font-size: 0.9em;
  margin-bottom: 15px;
  text-align: center;
}

.animated-border-card ul {
  color: white;
  font-size: 0.85em;
  padding-left: 20px;
  text-align: left;
}

.animated-border-card li {
  margin-bottom: 8px;
}

.animated-border-card strong {
  color: #4dabf7;
}

/* Listas de las cartas */

.profile-list {
    list-style: none;
    margin-top: 20px;
}

.profile-list li {
    margin-bottom: 10px;
    display: flex;
}

.profile-list li strong {
    min-width: 100px;
    display: inline-block;
    color: var(--primary-color);
}

/* Contenido de las caracteristicas */


.goals-list {
    list-style: none;
    margin-top: 20px;
}

.goals-list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.goals-list li::before {
    content: '\f00c';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    left: 0;
    color: var(--primary-color);
}

/* ====================================================================================================================================================
    Animaciones
   ==================================================================================================================================================== */

/* Animaciones del borde de las cartas (cartas de sobre mi)*/

@keyframes borderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}